.navContainer {
  padding: 16px 32px;
  background-color: #ffff;
  /* border-bottom: solid 1px black; */
  box-shadow: 0 4px 6px #0000001a;
}

.navContainer a {
  display: flex;
  align-items: center;
  width: fit-content;
}

.navContainer h1 {
  margin-left: 8px;
}
